@import "_variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(212, 228, 239, 1);
  height: 100%;
  width: 100%;
  min-height: 800px;
  background: linear-gradient(
    to bottom,
    $bg-color-grad-1 0%,
    $bg-color-grad-2 100%
  );
}
// html {
//   height: 100%;
//   width: 100%;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
